<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title></title>
<title></title>
<style type="text/css">#menu1 a {   
color:white;  
font-weight:bolder; 
text-decoration:none; 
text-transform:uppercase; 
font-family:Arial, Helvetica, sans-serif; 
}
#menu1 ul li ul {
display:none;
}
#menu1 ul li {
float:center;
list-style:none;
width:200px;
height:50px;
background:;
text-align:center;
padding-top:5px;
border-right:2px solid white;
}
#menu1 ul li:hover {
background: #466A7F;
text-align:center;
}
#menu1 ul ul {
margin-top:-72px;
}
 
#menu1 ul li ul li {
margin-left:162px;
}
 
 
#menu1 ul li:hover > ul {display:block;}
#menu1 ul li ul li {background:;}
#menu1 ul li ul li:hover {background: #466A7F;}
</style>
<!-- Styles -->
<style style="text/css" type="text/css">body {
  background-image: url("http://pre10.deviantart.net/f059/th/pre/i/2014/135/2/9/a_view_of_ponyville__night__by_foxy_noxy-d5n5wps.png");
  background-size: 100% auto;
  background-position: 0% 0%;
  background-repeat: repeat;
}
</style>
<style type="text/css">h2    {color: white; font-style: italic;}
font-weight:bolder;
</style>
